---
layout: compress
---
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-Content-Type-Options" content="nosniff">
		<meta name="referrer" content="strict-origin-when-cross-origin">

		{% seo %}
		{% feed_meta %}
		<link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon.png">

		<!-- Google Fonts -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

		<!-- CSS Reset -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css" integrity="sha512-oHDEc8Xed4hiW6CxD7qjbnI+B07vDdX7hEPTvn9pSZO1bcRqHp8mj9pyr+8RVC2GmtEfI2Bi9Ke9Ass0as+zpg==" crossorigin="anonymous">

		<!-- Milligram CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css" integrity="sha512-CQw8fBrTrIafAzH3rPnvche6JJfBur5Y//Ea1iBJW9IJNbdgfIFgH11jSmIy1offAIB+Z1s9bgNocphhgDJSrQ==" crossorigin="anonymous">

		<link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VJXL7WCFNM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VJXL7WCFNM');
</script>



		<!-- Plausible Analytics -->
		<script async src="https://plausible.io/js/pa-W0Dq5s5xrg0nZbo6PsWi5.js"></script>
		<script>window.plausible=window.plausible||function(){(plausible.q=plausible.q||[]).push(arguments)},plausible.init=plausible.init||function(i){plausible.o=i||{}};plausible.init()</script>
	</head>
	<body>
		<header>
			<div class="container">
				<div class="company-name"><a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/logo.png" alt="{{ site.title }}" width="95" height="66" /></a></div>
				{% include navigation.html %}
			</div>
		</header>
		{{ content }}

		<footer>
			<div class="container">
				<div class="footer-columns">
					{% for column in site.data.footer %}
					<ul class="footer-links">
						{% for link in column.links %}
							<li><a {% if link.new_window %}target="_blank" rel="noopener noreferrer"{% endif %} href="{% include relative-src.html src=link.link %}" {% if link.social_icon %}class="{{ link.social_icon }}-icon"{% endif %}>
								{% if link.social_icon %}
									{% include social-icon.html icon=link.social_icon %}
								{% endif %}
								{{ link.name | escape }}</a></li>
						{% endfor %}
					</ul>
					{% endfor %}
				</div>

						<p class="copyright">&copy; 2026 Not a Fintech Company. The source of this page can be viewed and changes made via pull request <a href="https://github.com/Not-a-Fintech-Company/Website/blob/main/{{page.path}}">here.</a></p>
				</div>
		</footer>
		<script>
			document.getElementById("open-nav").onclick = function () {
				document.body.classList.toggle("nav-open");
				return false;
			};
		</script>
	</body>
</html>
